@font-face {
    font-family: Diatype;
    src: url(fonts/ABC\ Diatype\ Regular.ttf);
}

body {
    font-family: Diatype;
    font-size: .9rem;
}

header {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    top: 1rem;
    
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
}


img {
    width: 80%;

}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.underline {
    text-decoration: underline;
    color: blue;
}

.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hover-sticker {
    position: absolute;
    background-color: rgb(95, 238, 95);
   color:black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

/* Show sticker on hover */
.grid a:hover .hover-sticker {
    opacity: 1;
}


@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
       justify-items: center;

    }

    header {
        font-size: .8rem;
        justify-items: center;
        position: sticky;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        top: 1rem;
    }

    img {
        width: 100%;
    }
    
}